
# -------------------------------------------------------------------------------------------
#	Copyright (C)  Rajesh Krishnan (devel AT krishnan DOT cc).  All rights reserved.
#	This code and the related module is released to the public under the GNU LGPL v3 License.
# -------------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------------
# postgres-<instance>	This is the init script for starting up the PostgreSQL server
#
# chkconfig: - 64 36
# description: Starts and stops the PostgreSQL backend daemon that handles  all database requests.
# processname: postmaster
#
# This script uses TABs for indentation and formatting. 
#  Set TABSPACE=4 in your favorite editor to view the formatting correctly.
# -------------------------------------------------------------------------------------------



# added by Rajesh...

private*
junk*
data
log
config
instance-*


